.hero{

height:65vh;

background:
linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
url("Quran.jpg");

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

color:#fff;

}

.hero h1{

font-size:55px;
margin-bottom:20px;

}

.hero p{

font-size:20px;
max-width:700px;
margin-bottom:30px;

}

.btn{

padding:15px 35px;

background:#FFD54F;

color:#000;

text-decoration:none;

border-radius:5px;

font-weight:bold;

}

.about-quran{

width:90%;

margin:80px auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

gap:50px;

align-items:center;

}

.image img{

width:100%;
border-radius:12px;

}

.text h2{

color:#0c6b3d;
margin-bottom:20px;

}

.text p{

line-height:1.8;
margin-bottom:15px;

}

.surah-section{

padding:80px 8%;

}

.surah-section h2{

text-align:center;
margin-bottom:50px;
color:#0c6b3d;

}

.surah-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:25px;

}

.card{

background:#fff;

padding:30px;

text-align:center;

border-radius:10px;

box-shadow:0 10px 20px rgba(0,0,0,.08);

transition:.4s;

}

.card:hover{

transform:translateY(-10px);

}

.card a{

display:inline-block;

margin-top:15px;

text-decoration:none;

background:#0c6b3d;

color:#fff;

padding:10px 20px;

border-radius:5px;

}

.features{

padding:80px 8%;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}

.feature{

background:white;

padding:30px;

text-align:center;

border-radius:10px;

}

.ayah{

width:90%;

margin:80px auto;

background:#0c6b3d;

color:white;

padding:50px;

border-radius:10px;

text-align:center;

}

footer{

background:#0c6b3d;

color:white;

text-align:center;

padding:20px;

margin-top:60px;

}